name: Pages Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install Dart dependencies
        run: dart pub get
      - name: Bootstrap Melos workspace
        run: dart run melos bootstrap
      - name: Build web
        run: |
          cd app/app_root
          flutter test --coverage
          flutter build web --release
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: app/app_root/build/web
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
